<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Border Maker
    </ion-title>
    <ion-button
      *ngIf="uploadedImage"
      slot="end"
      color="warning"
      class="reset-upload-button"
      (click)="openFileInput()">
      重新上傳
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-border-generator></app-border-generator>
  <input
    #fileInput
    type="file"
    accept="image/*"
    (change)="onFileInputChange($event)"
    class="hidden-input" />
</ion-content>

